body{
    
    font-size: large;
}

button{
    color: blue;
    background-color: blanchedalmond;
    width: 60px;
}

.input-large{
    
    width: 120px;
}

.input-aligne{
    text-align: center;
}

#result {
    display: block;
    margin: 15px;
}
